<div class="form-box">
  <div style="margin-top: -18px;">
    <form [formGroup]="LoginForm">
        <input formControlName="email" placeholder="Your Email Address" type="text">
        <input  formControlName="password" placeholder="Your Password" type="password">
        <div class="example-button-row">
          <div class="button-container">
            <button class="start-button" mat-button color="primary" (click)="LoginAuthentication(LoginForm?.value)">Login</button>
            <span class="end-span">Register?</span>
          </div>
        </div>
    </form>

  </div>
</div>
