.nav-content{
    display: flex;
    flex-direction: column;
    width: 88px;
    margin-top: 20px;
}

.section-link{
    width: 80px;
    margin: -2px auto 14px;
    padding: 2px;
    color: #001d35;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.icon-css{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-label{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 16px;
    font-family: "Google Sans", sans-serif;
    margin-bottom: 4px;
    text-align: center;
}


// --------------//

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
    color: #fff;
}

.navbar-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px 16px;
    background: #3f51b5;
    justify-content: space-between;
}

.logo-button{
    color: inherit;
}
.logo-img{
    width: 80px;
    height: 35px;
    border-radius: 2px;
}

.profile-icon{
    border-radius: 50%;
    width: 40px;
    height: 35px;
}

.side-nav{
    width: 100px;
    height: calc(100vh - 56px);
    overflow: auto;
    margin-top: 65px;
    color: #fff;
}