.nav-content{
    display: flex;
    flex-direction: column;
    width: 88px;
    margin-top: 20px;
}

.section-link{
    width: 80px;
    margin: -2px auto 14px;
    padding: 2px;
    color: #001d35;
}

a{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.icon-css{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-label{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 16px;
    font-family: "Google Sans", sans-serif;
    margin-bottom: 4px;
    text-align: center;
}