<div class="container-fluid">
    <div class="row mb-1 animated infinite bounce delay-2s">
        <div class="col-lg-3 col-6 " *ngFor="let data of cardsList">
            <div class="small-box {{data.bgcolor}}">
                <div class="inner">
                    <h3>{{data.count}}</h3>

                    <p> </p>
                </div>
                <div class="icon">
                    <i class="material-icons">{{data.name}}</i>
                </div>
                <a href="#" class="small-box-footer" style="font-size: 22px;">{{data.title}} </a>
            </div>
        </div>
    </div>
</div>